@import "./theme.scss";

.van-tabs__wrap {
  height: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid $bg2;
  border-bottom: 1px solid $bg2;

  .van-tabs__nav {
    background: $bg1;
    border: 1px solid $bg2;
  }

  .van-tab--active {
    color: $color1 !important;
  }

  .van-tabs__line {
    width: 60px !important;
    background-color: $color1 !important;
    bottom: 20px !important;
  }
  .van-tab__text--ellipsis {
    overflow: inherit;
  }
}

::v-deep .van-cell {
  background: $bg1;
  color: $color2;
}

::v-deep .van-cell {
  border-bottom: 0.5px solid $bg2;
}

::v-deep .van-picker-column__item {
    color: #fff;
}
